body {
	background-color: black;
	color: white;
}

/*#food-buttons {
	background-color: pink;
}*/

.food {
	background-color: rgb(0,255,153);
	border-radius: 5px;
}

header {
	color: rgb(249, 1, 170);
	font-size: 48px;
}

#food-form {
	color: rgb(112,103,255);
	
}

#food-input {
	border-radius: 5px;
}

#addButton {
	background-color: rgb(254,249,170);
}